@model WebApplication1.Models.Usuario

@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

@if (ViewBag.ErroLogin == true)
{
    <div>Usuário ou senha invalida</div>
}

@using (Html.BeginForm("EfetuarLogin", "Usuario"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal " >
        <h4>Digite suas credenciais</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName,"Usuário:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserPass, "Senha:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.UserPass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserPass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10"> <br />
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
