@model WebApplication1.Models.Cliente

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Cliente"))
{
    <div class="row">
        <div class="col-8">
            @Html.LabelFor(model => model.Nome)
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control col-12" } })
        </div>
        <div class="col-4">
            @Html.LabelFor(model => model.Vendedor)
            @Html.DropDownList("Vendedor", new SelectList(ViewBag.ListaVendedores, "Nome", "Nome"), new { @class = "form-control col-12" })
        </div>
    </div>
    <br />
    <input type="submit" value="Pesquisar" class="btn btn-dark" />
}

<br />



<h2>Tabela de Clientes</h2>

<p>
    @Html.ActionLink("Incluir novo cliente", "NovoCliente")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNasc)
        </th>
        <th></th>
    </tr>

    @if (ViewBag.ListaClientes != null)
    {
        foreach (var item in ViewBag.ListaClientes)
        {
            <tr>
                <td>
                    @Html.Raw(item.Nome)
                </td>
                <td>
                    @Html.Raw(item.Telefone)
                </td>
                <td>
                    @Html.Raw(item.EMail)
                </td>
                <td>
                    @Html.Raw(item.DataNasc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Visualizar", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }


</table>
